<app-nav-bar-logo class="position-absolute"></app-nav-bar-logo>
<div class="row bg-custom-color">
    <app-nav-bar class="postition-absolute col-2" (buttonActive)="getMenuActive($event)"></app-nav-bar>
    <div class="col-10 bg-custom-color row align-items-center" *ngIf="menuActive == menuActiveEnum.SERVICES">
        <!---CONTENIDO AQUI-->
        <div class="row h-50 align-content-center">
            <div class="row col h-100 align-content-center">
                <h1 class="text-white">HI</h1>
                <h1 class="text-white">I'M CHRISTIAN</h1>
                <button class="btn btn-primary col-2 rounded-0 mt-4">CONTACT</button>
            </div>
            <div class="row col h-100 align-items-center">
                <img style="width: 300px; height: 300px;" src="../../../assets/img/group.png">
            </div>
        </div>
        <app-list-service></app-list-service>
    </div>
    <app-projects class="col-10 bg-custom-color row align-items-center" *ngIf="menuActive == menuActiveEnum.PROJECTS"></app-projects>
    <app-about class="col-10 bg-custom-color row align-items-center" *ngIf="menuActive == menuActiveEnum.ABOUT"></app-about>
</div>
