<div class="d-flex align-items-center vh-100 bg-custom-color">
    <ul class="list-unstyled h-75 d-flex flex-column justify-content-around align-items-center">
        <li>
          <button class="text-white btn" style="writing-mode: vertical-lr; transform: rotate(-90deg);">SERVICES</button>
        </li>
        <li>
          <button class="text-white btn" style="writing-mode: vertical-lr; transform: rotate(-90deg);">PROJECTS</button>
        </li>
        <li>
          <button class="text-white btn" style="writing-mode: vertical-lr; transform: rotate(-90deg);">SKILLS</button>
        </li>
        <li>
          <button class="text-white btn" style="writing-mode: vertical-lr; transform: rotate(-90deg);">ABOUT</button>
        </li>
      </ul>    
</div>